.game{
display: flex;
flex-direction: row;
}

.board-row:after {
clear: both;
content: "";
display: table;
}

.square{
  background: #fff;
  border:1px solid #999;
  float:left;
  width: 30px;
  height: 30px;
  text-align: center;
}
.status{
  color: green;
}
